

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: 'Mulish';

  --color-base-blue:hsl(195, 91%, 25%);
  --color-base-white:hsl(0, 0%, 100%);
  --color-base-bege: hsl(0, 0%, 85%);
  --color-base-titulosh1:hsl(240, 6%, 13%);
  --color-base-textosp:hsl(240, 5%, 7%);
  --color-base-bluefooter:hsl(195, 46%, 40%);
}

body {
  width: 100vw;
}

header {
  background-color: var(--color-base-blue);

  display: flex;
  align-items: center;
  
  width: 100%;
  height: 72px;
  padding: 0 1.6rem; 
}

.logo  {
  background-color: var(--color-base-white);
  align-self: center;

  width: 4.0rem;
  height: 4.0rem;
  border-radius: 50%;
  
  margin-left: 2.8rem;
  padding: .8rem;
}

.input-wrapper {
  display: flex;
  width: 100%;
}

.input-wrapper input {
  width: 100%;
  margin: 1.6rem;
  height: 4.0rem;
  background-color:hsla(0, 50%, 100%, 0.420); /* azul com 10% de opacidade */
  
  border-radius: 0.4rem;
  padding: 1.4rem; /* padding para o texto dentro do input */
  font-size: 1.6rem;
  width: 600;
  border: none;
 }

.input-wrapper input::placeholder {
  color: var(--color-base-white); /* Cor branca para o texto placeholder */
  
  font-family: 'Mulish';
  font-size: 1.6rem;
  width: 600;
}

header .avatar img {
  width: 4.2rem;
  height: 4.2rem;
  margin-right: 2.8rem;
  border-radius: 50%;
  object-fit: cover;
}

.picture img {
  width: 100%;
  height: auto; /* Ajusta a altura automaticamente*/
  overflow: hidden;
  object-fit: cover;
}

.picture img:hover {
  transform: scale(1.05); /* Aumenta a imagem em 5% ao passar o mouse */
}

h1 {
  font-size: 2.4rem; 
  font-weight: 700;
  padding: 3.1rem 6.6rem .8rem 2.2rem;
  margin-top: 1%;
 }

 .buttons {
  display: flex;
  gap: 1.2rem;
}

 .buttons button {
  width: auto;
  height: auto;
  background: none;

  border: none;
  border-radius: 50%;
  padding-bottom: 0rem;

  position: relative;
  display: flex;
  left: 3.4rem;

  transition: box-shadow 0.3s ease-in-out; /* Adiciona uma transição suave, com sombreado*/
  cursor: pointer; /* Adiciona um cursor pointer para indicar que é clicável */
}

.buttons button:hover {
  box-shadow: 0 4px 2px rgba(75, 75, 177, 0.5); 
}

 main p {
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 2.2rem;
  padding-right: 2.6rem;
  
  margin: 0 auto; /* Centraliza o parágrafo */
  width: 100%; /* Define a largura do parágrafo como 90% da largura do container */
  max-width: 100%;
}

.sidebar img {
  width: 15.1rem;
  height: 8.4rem;
  border-radius: .5rem;
  overflow: hidden;
  object-fit: cover;
}

aside .photos {
  display: flex;
  align-items: flex-start;
}

.photos  {
  width: 100%;
  padding-bottom: 2.5rem;
  padding-top: 3.0rem;
  padding-right: 2.6rem;
  padding-left: 2.2rem;
  }

.paragraph p {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 3.0rem 2.6rem 2.2rem 0rem;
}
/*SIDEBAR - PARTE DAS FOTOS */

.sidebar h2 {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 1.0rem;
}
.img-slide img {
  margin-right: 1.6rem;
  margin-top: 1.8rem;
  transition: transform 0.1s ease-in-out;
  }

.img-slide img:hover {
  transform: scale(1.02) translatey(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}


aside .sidebar p {
  max-width: calc(100% - 1.6rem); /* Ajuste conforme necessário */
}

p {
  font-size: 1.4rem;
  max-width: 100%;
  }

h2 {
  margin-bottom: .2rem;
  padding-top: 1rem;
  }


.footer footer {
  width: 100%;
  background: var(--color-base-bluefooter);
  height: 6.4rem;
  margin-top: 3.9rem;
}

/* Estilo para o texto do footer */
footer {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-base-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* VERSÃO DESKTOP */
@media (min-width: 700px) 
{

  /* EXEMPLO APLICANDO GRID AREA
  
  .main-containerpai {

    display: grid;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer"

    header {
     grid-area:header; (assim ir citando cada area para se posicionarem)
    }    
    main {
      grid-area: main;
    }
    
    aside {
      grid-area: aside;
    }

    footer {
      grid-area: footer; 
    }
  }*/
  
  .main-containerpai {
    display: grid;
    grid-template-columns: 3fr 1fr; /* 3 partes para o main e 1 parte para a sidebar */
    gap: 3.4rem; /* Espaço entre o main e a sidebar */
  }

  main {
    margin-left:10.9rem;
    margin-top: 4.4rem;
  }

  .picture img {
    width: 100%; /* Faz com que a imagem ocupe 100% do container disponível */
    height: auto;
    border-radius:.5rem;
  }

  .containertituloebotoes {
    display: flex;
    justify-content: space-between
  }



/*PARTE DO SIDEBAR FOTOS*/

  h1 {
   font-size: 2.4rem;
   padding-bottom: 2.4rem;
}

  aside .sidebar {
    padding-right: 11.0rem;
    padding-top: 4.4rem;
    min-width: 3.83rem;
    min-height: 8.4rem;
  }

  .photos {
    padding-top: 0rem;
  }

  .legendas {
    min-width: 21.5rem;
    min-height: 5.4rem;
  }

  h2 {
    margin-top: 0.5rem;
    font-size: 1.8rem;
    width: 700;
  }

  p {
    font-size: 1.4rem;
    width: 400;
  }

  .buttons {
    display: flex;
    gap: 1.2rem;
    margin-top: 3.1rem;
    margin-right: 3.4rem;
  }

  .buttons button {
    border: none;
    border-radius: 50%;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .paragraph p {
    font-size: 1.6rem;
    margin: 0; /* Remove margens adicionais se necessário */
  }
}